.contact{
    background-color: rgba(240, 240, 240, 1);
    height: 477px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}


.texts h2{
    width: 90%;
    height: 90px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;   
}

.texts p {
    width: 339px;
    height: 55px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.auth input{
    width: 400px;
    height: 45px;
    background: #FFFFFF;   
    border-color: white;
    border-radius: 5px;
    margin: 5px 5px;
}


.wh input{
    width: 194px;
    height: 45px;
    margin-top: 5px;
    margin-right: 0px;
}

.personalData {
    display: flex;
    align-items: center;
}
.personalData input{
    width: 25px;
    height: 25px; 
}

.personalData p{
    width: 354px;
    height: 17px;
}

.auth button{
    width: 215px;
    height: 50px;
    background-color: #222222;
    border-radius: 50px;
    color: white;
    border-color: #222222 ;
    font-size: 15px;
    align-items: center;
    cursor: pointer;
}

button p {

}
span img{
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-top: 2px;
}

